@media (max-width: 575.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
  .it {
    width: 440px;
  }
}

@media (max-width: 1399.98px) {
  nav {
    display: none;
  }
  ul li {
    margin: 50px;
    display: inline-block;
    border: 1px solid;
    border-color: transparent transparent var(--secondrayColor) transparent;
  
  }
  .fa-xmark {
 display: block;
 position: absolute;
 top: 0;
 right:  0;
}
  ul {
    display: flex;
    position: relative;
    width: 609px !important;
    padding: 0;
    border-radius: 10px;
    display: block;
    position: absolute;
    background-color: var(--secondrayColor);
    margin: auto;
    width: min-content;
    flex-direction: column;
    margin-top: 36px;
  }
  .fa-bars {
    display: block;
    margin: 0 20px 0 0;
  }
  .fa-circle-half-stroke {
    margin: 0 0 0 20px;
  }
  section {
    flex-direction: column-reverse;
    gap: 47px;
  }
  .direction {
    flex-direction: column;
  }
  section .cointaner {
    width: 1250px;
  }
  .box {
    display: none;
  }
  .box2 {
    width: 400px;
  }
  .end img {
    display: none;
  
  }
  .end {
      justify-content: center;
  }
  .feedback2{
    flex-direction: column;
  }
  footer {
        height: 1750px;
    }
}

@media (max-width: 767.98px) {
  header {
    gap: 10px;
  }
  section .cointaner {
    width: 460px;
  }
  section div p {
    width: 322px;
  }
  section .ai {
    font-size: 50px;
  }
  section .ai p {
    font-size: 20px;
    padding: 30px 0;
  }
  .line {
    width: 380px;
    margin: auto;
  }
  section img {
    width: 360px;
  }
  section {
    flex-direction: column-reverse;
    gap: 47px;
    margin: 50px 0;
  }

  .ai {
    margin: 0;
  }

  input {
    display: none;
  }
  .cointaner {
    margin: 0;
  }
  .slide,
  .slide2 {
    width: 405px;
  }
  .text {
    width: 247px;
  }
  .it {
    width: 340px;
    margin-left: auto;
  }
  .it2 {
    margin-left: 50px;
  }
  ul {
     width: 230px !important;
  }
  .fa-bars {
    display: block;
    margin: 0 5px 0 10px;
  }
  .feedback2 {
    padding: 64px;
    height: 220px;
  }
}
